@use 'tailwindcss';
@use 'scrollbars';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer base {
  h1 {
    @apply text-2xl font-medium;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  h4 {
    @apply text-base;
  }
}

@utility container {
  @apply mx-auto;

  @variant sm {
    width: 100%;
  }

  @variant md {
    width: 100%;
  }

  @variant lg {
    width: 1080px;
  }

  @variant xl {
    width: 1080px;
  }
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-fira-sans);
  --font-mono: var(--font-fira-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-synthesis: none;
  margin: 0;
  line-height: inherit;
  scroll-behavior: smooth;
  /* -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: grayscale; */
  font-size: 0.95em;
}
